.newImgDiv{
    height: 25%;
    width: 50%;
    display: inline-block;
    align-items: center;
    margin-left: 35%;
}

.newImg {
    max-height: 25%;
    max-width: 25%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 53);
    color: white
  }
  

  
  .text {
    width: 100%;
    font-size: 100%;
    right: 16.5%;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .newImg2{
    max-width: 50%;
    max-height: 50%;
    position: relative;
    left: 10%;
  }

  .uniHeading {
    font-family: serif;
  }